.headerCreateCoontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px 10% 0 10%;
    font-weight: 500;
    background-color: rgb(97, 146, 231);
    padding: 20px;
    border-radius: 12px 12px 0 0;
    color: white;
}
.createContainer {
    margin: 0 10% 20px 10%;
    padding: 20px;
    width: 80%;
    background-color: rgb(84, 107, 130);
    border-radius: 0 0 12px 12px;
}
.todoInput {
    margin: 10px 0;
    width: 80%;
}
.inputName {
    width: 20%;
    margin: 10px 0;
    color: white;
}
.summitBtn {
    background-color: coral;
    padding: 10px;
    color: white;
    border-radius: 10px;
}